# create one `.env` file under root of the package for application specific settings.
# this file should be present and should at least contain value of `JENKINS_HOST`

# APP_PATH
## base path for app related work
## ex: APP_PATH='/opt/jenkins-files'
## if not give, it will default to package folder
## downloads will go to ${APP_PATH}/downloads
## and logs will go to ${APP_PATH}/logs
## The user running this process should have write access to APP_PATH

# JENKINS_HOME
## JENKINS_HOME for jenkins application.
## ex: JENKINS_HOME='/var/lib/jenkins'
## defaults to /var/lib/jenkins
## this if where jenkins related files are stored in jenkins server.

# JENKINS_HOST
## ip / dns of jenkins server from where to get the file
## ex: JENKINS_HOST='192.168.1.10'
## this doesn't have a default. user has to pass this variable.
## as of now, only key based ssh access is supported.

# JENKINS_USER
## user name that will be used to connect to jenkins server. defaults to `root`.
## ex: JENKINS_USER='jenkins'

# DEBUG
## values can be true/True or false/False
## if set to true, the logging will happen in debug mode else warning mode.
## defaults to false.
## ex: DEBUG=true

# ALLOWED_HOST
## more info: https://fastapi.tiangolo.com/tutorial/cors/?h=corsmiddleware
